.profileImage{

  font-size:6pt;
  font-weight:bold;
  background-color:black;
  color:white;
  padding:8px;
    border-radius:20px;
  }

  .linkCard{
background-color:yellow;
padding:7px;
border-radius:20px;

  }
  .Spinner{


    margin:30% 50%;
  }